{% extends 'list.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head_list %}
<script src="{% static 'pago/reserva/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 10%;">Patente</th>
    <th scope="col" style="width: 10%;">Nro Boleta</th>
    <th scope="col" style="width: 10%;">Fecha Entrada</th>
    <th scope="col" style="width: 10%;">Hora Entrada</th>
    <th scope="col" style="width: 10%;">Fecha Salida</th>
    <th scope="col" style="width: 10%;">Hora Salida</th>
    <th scope="col" style="width: 10%;">Valor</th>
    <th scope="col" style="width: 10%;">Pagado</th>
    <th scope="col" style="width: 10%;">Opciones</th>
</tr>


{% endblock %}

{% block rows %}

{% endblock %}

        {% block buttons_list %}
        <!-- <a href="{{ create_url }}" class="btn btn-primary btn-flat btn-test">
            <i class="fas fa-plus"></i> Nuevo registro
        </a> -->
        <a href="{{ list_url }}" class="btn btn-success btn-flat">
            <i class="fas fa-sync"></i> Actualizar
        </a>
        {% endblock %}

{% block javascript %}
<div class="modal fade" id="myModalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form method="post" action="." enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-search"></i> <span></span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input name="id" id="id" type="hidden" value="0">
                        <h5><p id="obs_pago" ></p></h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal"><i
                            class="fas fa-times"></i> Cerrar</button>
                    {% if request.session.group.name == 'Administrador' or request.user.is_superuser %}
                    <button type="button" class="btn btn-primary btn-flat btnRevisarPago" ><i class="fas fa-check"></i>
                        Revisado</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}