{% extends 'list.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_list %}
<script src="{% static 'infcliente/js/listpago.js' %}"></script>
{% endblock %}

{% block columns %}
<tr>
    <th scope="col" style="width: 10%;">Nro</th>
    <th scope="col" style="width: 20%;">Fecha Expiracion</th>
    <th scope="col" style="width: 15%;">Asunto</th>
    <th scope="col" style="width: 15%;">Valor</th>
    <th scope="col" style="width: 10%;">¿Pago Realizado?</th>
    <th scope="col" style="width: 15%;">Opciones</th>
</tr>
{% endblock %}
{% block buttons_list %}
<!-- <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Nuevo registro
            </a> -->
<a href="{{ list_url }}" class="btn btn-success btn-flat">
    <i class="fas fa-sync"></i> Actualizar
</a>
{% endblock %}

{% block javascript %}
<!-- Modal -->
<div class="modal fade" id="myModalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <form method="post" action="." enctype="multipart/form-data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fas fa-search"></i> <span></span></b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input name="id" id="id" type="hidden" value="0">
                        <!-- {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="email">{{ field.label }}:</label>
                            {{ field|add_class:'form-control'|attr:'autocomplete:off'| attr:'readonly:readonly'  }}
                        </div>
                        {% endfor %} -->
                        <div class="form-group">
                            <label for="email">Descripcion:</label>
                            {% render_field form.desc class="form-control" readonly='readonly'%}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-flat btn-block" data-dismiss="modal"><i
                            class="fas fa-times"></i> Cerrar</button>
                    <!-- <button type="submit" class="btn btn-primary btn-flat btn-block"><i class="fas fa-save"></i>
                        Guardar</button> -->
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}